@model WebCycleManager.Models.EventItemViewModel
<div class="modal fade" id="editStageModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <!-- scrollable voor lange content -->
        <div class="modal-content" style="min-height: 480px;">
            <div class="modal-header">
                <h5 class="modal-title">Stage bewerken</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="editStageModalContent">
                <!-- hier komt de partial via AJAX -->
            </div>
        </div>
    </div>
</div>
