<div class="modal fade" id="editStageModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <h5 class="modal-title">Etappe bewerken</h5>
                <div class="d-flex gap-2">
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Annuleren</button>
                    <button type="submit" class="btn btn-primary btn-sm" form="editStageForm">Opslaan</button>
                </div>
            </div>
            <div class="modal-body" id="editStageModalContent"></div>
        </div>
    </div>
</div>
