    @model CreateCompetitorViewModel

    <h2>Nieuwe renner toevoegen aan team </h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="CompetitorId" />
                <h4>Nieuwe renner gegevens</h4>
                <div class="form-group mb-2">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                </div>
                <div class="form-group mb-2">
                        <label asp-for="PcsName" class="control-label"></label>
                        <input asp-for="PcsName" class="form-control" />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="CountryId" class="control-label"></label>
                    <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                </div>

                <h4>Team en jaar</h4>
                <div class="form-group mb-2">
                    <label asp-for="TeamId" class="control-label"></label>
                    <select asp-for="TeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Year"></label>
                    <input asp-for="Year" class="form-control" />
                </div>
                 <div class="form-group mb-3">
                    <input asp-for="IsNationalChampion" class="form-check-input" />
                    <label asp-for="IsNationalChampion" class="form-check-label"></label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Maak" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary ms-2">Annuleren</a>
                </div>
            </form>
        </div>
    </div>

    <div class="mt-3">
        <a asp-action="Index">Terug naar de lijst</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@* 
    <script>
        $(function () {
            $("#competitorSearch").autocomplete({
                source: '/Competitors/SearchCompetitors',
                minLength: 2,
                select: function (event, ui) {
                    $("#CompetitorId").val(ui.item.id);

                    const selectYear = $("#Year").val();

                    // AJAX call voor extra info
                    $.ajax({
                        url: '/Competitors/GetCompetitorInfo',
                        data: { id: ui.item.id, year: selectYear },
                        success: function (data) {
                            $("#teamName").text(data.teamName);
                            $("#countryName").text(data.country);
                            $("#pcsName").text(data.pcsName);
                            $("#competitorInfo").show();
                        }
                    });
                }
            });

            // voorkom form submit bij Enter in het zoekveld
            $("#competitorSearch").on("keydown", function (e) {
                if (e.key === "Enter") {
                    e.preventDefault();
                }
            });
        });

    </script> *@

    }
