@using WebCycleManager.Models.ViewModel
@model CompetitorEditViewModel

<h1>Bewerk renner</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="CompetitorId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
             </div>
 
             <div class="form-group">
                <label asp-for="PcsName" class="control-label"></label>
                <input asp-for="PcsName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class="form-control" asp-items="Model.Countries"></select>
            </div>

            <hr />
            <h4>Teamgegevens</h4>

            <div class="form-group">
                <label asp-for="SelectedYear">Jaar</label>
                <select asp-for="SelectedYear" asp-items="Model.AvailableYears" class="form-control"
                 onchange="location.href='@Url.Action("Edit", new {id = Model.CompetitorId })&year=' + this.value"></select>
            </div>

            <div class="form-group">
                <label asp-for="SelectedTeamId">Team</label>
                <select asp-for="SelectedTeamId" asp-items="Model.Teams" class="form-control"></select>
            </div>

            <div class="form-group">
                <input asp-for="IsNationalChampion" class="form-check-input" />
                <label asp-for="IsNationalChampion" class="form-check-label"></label>
            </div>

            <button type="submit" class="btn btn-primary">Opslaan</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
