@page
@model WebApp.Pages.Account.ResetPasswordModel
@{
    var passwordInputId = "password";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Wachtwoord instellen</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="Input.Email" />
                        <input type="hidden" asp-for="Input.Token" />
                        
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" id="@passwordInputId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                         </div>
                        <partial name="_PasswordCheckerPartial" model="passwordInputId" />
                        <button type="submit" class="btn btn-primary mt-3">Wachtwoord instellen</button>
                    </form>
                </div>
             </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        attachPasswordChecker("@passwordInputId");
    </script>
}