@page
@model WebApp.Pages.Account.ResetPasswordConfirmationModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                   <h4 class="mb-0">Bevestiging</h4>
                </div>
                <div class="card-body">
                    <p class="text-muted">Je wachtwoord is gewijzigd</p>
                    <p class="text-muted">Je kunt nu inloggen met je nieuwe wachtwoord.</p>
                    <p class="mt-3">
                        <a asp-page="/Account/Login">Klik hier om in te loggen</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
 </div>