@model Domain.Models.Country

@{
    ViewData["Title"] = "Delete";
}

<h1>Verwijder</h1>

<h3>Weet je zeker dat je dit land wilt verwijderen?</h3>
<div>
    <h4>Country</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryNameLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryNameLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryNameShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryNameShort)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CountryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Terug naar de lijst</a>
    </form>
</div>
