@model Domain.Models.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Land</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryNameLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryNameLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryNameShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryNameShort)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CountryId">Wijzig</a> |
    <a asp-action="Index">Terug naar de lijst</a>
</div>
