@model Domain.Models.Country

<div>
    <h3>Land</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryNameLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryNameLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryNameShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryNameShort)
        </dd>
    </dl>
</div>
<div class="mt-3 d-flex gap-2">
    <a asp-action="Edit" asp-route-id="@Model?.CountryId" class="btn btn-outline-primary">
        <i class="bi bi-pencil"></i> Bewerk
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Terug naar de lijst
    </a>
</div>
