html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* password checker */
input.input-validation-error {
    border-color: red;
    outline: none;
    box-shadow: 0 0 4px red;
}

.is-invalid {
    border-color: red !important;
    box-shadow: 0 0 4px red !important;
}

#password-rules li {
    margin-bottom: 5px;
}

.valid .icon {
    color: green;
}

.invalid .icon {
    color: red;
}
/* password checker */