@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="loader" class="spinner" style="display:none;"></div>
<div id="container" class="tile-container"></div>
@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
}